.result {
    position: relative;
    width: 22.333%;
    min-width: 170px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    > img {
        display: block;
        width: 100%;
        cursor: pointer;
    }
    > h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        background-color: #445565;
        flex: 1 1 100px;
        transition: 0.4s ease-out;
        cursor: copy;
    }
    > div {
        color: darkgray;
        font-size: 12px;
        position: absolute;
        bottom: 15px;
        left: 20px;
    }
    &:hover {
        > h3 {
            background-color: #fff;
            color: #223343;
        }
    }
}
