.episode {
    position: relative;
    padding: 10px 0;
    > img {
        padding: 2px;
        border: solid 1px dimgray;
        border-radius: 4px;
        margin: 5px 0;
    }
}
.name {
    > span {
        &:nth-of-type(1) {
            color: orangered;
            cursor: copy;
        }
        &:nth-of-type(2) {
            color: gold;
        }
    }
    > b {
        color: steelblue;
    }
}
