.btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    cursor: pointer;
    &--active{
        .lable{
            opacity: 1;
            transition-delay: 0.3s;
        }
        .span:nth-of-type(1),
        .span:nth-of-type(4) {
            width: 100%;
            transform: rotate(90deg);
        }
        .span:nth-of-type(2),
        .span:nth-of-type(3) {
            width: 100%;
            transform: rotate(0deg);
        }

    }
}

.lable {
    display: block;
    color: skyblue;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.span {
    display: block;
    position: absolute;
    height: 2px;
    width: 70%;
    border-radius: 30%;
    background-color: darkcyan;
    transition: width, transform, 0.3s ease-in-out;
    &:nth-of-type(1) {
        top: 0;
        left: 0;
        transform-origin: 4% center;
        transform: rotate(45deg);
    }
    &:nth-of-type(2) {
        top: 0;
        right: 0;
        transform-origin: 96% center;
        transform: rotate(-45deg);
    }
    &:nth-of-type(3) {
        bottom: 0;
        left: 0;
        transform-origin: 4% center;
        transform: rotate(-45deg);
    }
    &:nth-of-type(4) {
        bottom: 0;
        right: 0;
        transform-origin: 96% center;
        transform: rotate(45deg);
    }
}

