.content {
    padding: 5px;
    border-right: solid 1px black;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    &:last-of-type {
        border-right: none;
    }
}
.active {
    background-color: rebeccapurple;
}
