.content {
    position: relative;
    border: solid 1px gray;
    padding: 15px;
    color: #eee;
    a,
    a:active,
    a:visited {
        color: skyblue;
    }
    &--favorite {
        figure > span {
            background-color: yellowgreen;
        }
    }
}

.info {
    display: flex;
}
figure {
    position: relative;
    > img {
        display: block;
        width: 100%;
    }
    > span {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
        background-color: red;
        opacity: 0.7;
        border-radius: 4px;
        cursor: pointer;
    }
}
aside {
    width: 100%;
    margin-left: 15px;
    font-size: 12px;
    strong {
        color: rgb(245, 136, 11);
    }
}
article {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    font-family: sans-serif;
    color: darkgrey;
}
.date {
    color: gold;
}

.cast {
    // display: flex;
    white-space: nowrap;
    overflow-x: scroll;
}

.seasons {
    display: flex;
    position: relative;
    background-color: darkcyan;
    border-radius: 5px;
    padding: 0;
    overflow: scroll;
    &::-webkit-scrollbar {
        height: 2px;
        width: 0;
        background-color: darkmagenta;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        background: black;
        border-radius: 2px;
    }
    // &::-webkit-scrollbar-track {
    //     height: 4px;
    //     background: orange; /* color of the tracking area */
    // }
    // &::-webkit-scrollbar-thumb {
    //     height: 4px;
    //     // background-color: blue; /* color of the scroll thumb */
    //     border-radius: 2px; /* roundness of the scroll thumb */
    //     border: 2px solid orange; /* creates padding around scroll thumb */
    // }
}
