.actor {
    position: relative;
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    > div {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 4px;
        font-size: 12px;
        white-space: normal;
        background-color: rgba(black, 0.3);
    }
    figure > img {
        width: 100%;
    }
}
.cname {
    color: orange;
}
