.searchboxWrap {
    position: relative;
    span {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        right: 12px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
        &::after,
        &::before{
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: gray;
        }
        &::after{
            transform: translateY(13px) rotate(45deg);
        }
        &::before{
            transform: translateY(13px) rotate(-45deg);
        }
    }
}
.searchbox {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background: none;
    background-color: #eee;
    border-radius: 8px;
    color: #53565a;
    font-size: 20px;
    font-weight: 300;

    transition: 0.4s ease-out;
    &:focus {
        box-shadow: 0px 0px 8px 3px #4484c4;
    }
}
