* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  background-color: #223343;
}

header {
  padding: 50px 15px 0px;
  h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
  }
}
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}
